.botonFormulario {
  background-color: #fcd537;
  color: #212833;
  border: none;
  border-radius: 8px;
}

.botonOculto {
  background-color: #292c32;
  border: none;
}

.keyBoard {
  background-color: #292c32;
  color: #fcd537;
  border-color: #181a20;
}

.adm-number-keyboard-header {
  background-color: #292c32;
  color: #fcd537;
  border-top: solid 1px #60645a;
  --adm-color-white: transparent;
}

.adm-number-keyboard-wrapper .number-key {
  background-color: #292c32;
  color: #fcd537;
  border-color: #181a20;
}

.adm-number-keyboard-wrapper .sign-key {
  border-color: #181a20;
}

.adm-input {
  --placeholder-color: #fcd537;
}

.adm-list-item-content-arrow {
  display: none;
}

.adm-picker {
  color: #fcd537;
  background-color: #181a20;
}

.adm-picker-view-column-item {
  background-color: #292c32;
  --adm-border-color: #181a20;
}

.adm-picker-header-button {
  color: #181a20;
}

.adm-picker-view-column-wheel::before {
  background-color: #181a20;
}

.adm-picker-view-column-wheel::after {
  background-color: #181a20;
}
