a {
  text-decoration: none;
  color: rgb(234, 236, 239);
}

.container-card-investment img {
  width: 30px;
  background-color: #292c32;
  color: rgb(234, 236, 239);
  transform: rotate(20deg);
}

.container-card-investment {
  margin: 0px 10px;
}

.container-card-investment h1 {
  font-size: 1.5em;
}
