.profileContainer {
  margin-top: 60px;
  color: rgb(234, 236, 239);
  padding: 15px;
  font-size: 1.5em;
}

.profileContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
}

.imgProfile {
  display: flex;
  justify-content: center;
}

.imgProfile img {
  border-radius: 50%;
}
